 
<div class="article-actions">
    <div class="article-meta">
        <a href="profile.html">
          <img src="https://api.realworld.io/images/demo-avatar.png" />
        </a>
        <div class="info">
          <a href="profile.html" class="author">Eric Simons</a>
          <span class="date">November 24, 2021</span>
        </div>

        <!-- 如果当前用户是作者，显示编辑/删除按钮 -->
        <!-- <a class="btn btn-outline-secondary btn-sm" herf="#">
          <i class="ion-edit"></i> 编辑文章
        </a>
    
        <button class="btn btn-outline-danger btn-sm" >
          <i class="ion-trash-a"></i> 删除文章
        </button> -->

        <!-- 否则，显示收藏和关注按钮 -->
        <button class="btn btn-sm btn-outline-secondary">
          <i class="fa-solid fa-plus"></i>&nbsp;关注 johan <span class="counter">(10)</span>
        </button>
        &nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <i class="fa-solid fa-heart"></i>&nbsp;喜欢文章 <span class="counter">(29)</span>
          <!-- 不喜欢 -->
          <!-- <i class="fa-regular fa-heart"></i> -->
        </button>
    </div>

</div>
