<div class="banner">
    <div class="container">

      <h1>Create a new implementation</h1>

      <div class="article-meta">
        <a href="profile.html">
            <img src="https://api.realworld.io/images/demo-avatar.png" />
        </a>
        <div class="info">
          <a href="profile.html" class="author">Eric Simons</a>
          <span class="date">January 20th</span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
            <i class="fa-solid fa-plus"></i>
          &nbsp;
          Follow Eric Simons <span class="counter">(10)</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-outline-primary">
            <i class="fa-solid fa-heart"></i>
            <!-- 不喜欢 -->
            <!-- <i class="fa-regular fa-heart"></i> -->
          &nbsp;
          Favorite article <span class="counter">(29)</span>
        </button>
      </div>

    </div>
  </div>