<div class="feed-toggle">
    <ul class="nav nav-pills outline-active">

      <li class="nav-item">
        <%= link_to '订阅', feed_articles_path, 
        class: 'nav-link' + (current_page?(feed_articles_path) ? ' active' : '') %>
      </li>

      <li class="nav-item">
        <%= link_to '热门', articles_path,
        class: 'nav-link' + (current_page?(articles_path) ? ' active' : '') %>
      </li>
    </ul>
</div>