<div class="sidebar">

    <p>受欢迎的标签</p>

    <!-- 有数据 -->
    <div class="tag-list">
        <a href="#" class="tag tag-pill tag-default">programming</a>
        <a href="#" class="tag tag-pill tag-default">javascript</a>
        <a href="#" class="tag tag-pill tag-default">angularjs</a>
        <a href="#" class="tag tag-pill tag-default">react</a>
        <a href="#" class="tag tag-pill tag-default">mean</a>
        <a href="#" class="tag tag-pill tag-default">node</a>
        <a href="#" class="tag tag-pill tag-default">rails</a>
    </div>

    <!-- loading -->
    <div class="hide">
        加载标签
    </div>

    <!-- 没有数据 -->
    <div class="post-preview tag">
        这里还没有标签
    </div>
</div>