<div class="sidebar">

    <p>受欢迎的标签</p>
    <% if tags.empty? %>
        <div class="post-preview tag">这里还没有标签</div>
    <% else %>
        <div class="tag-list">
            <% tags.each do | tag | %>
                <a href="#" class="tag tag-pill tag-default"> 
                    <%= tag.name %>
                </a>
            <% end %> 
        </div>
    <% end %>
</div>