


<div class="article-page">
  <%= render "banner" %>
  <div class="container mt-4">

    <div class="row article-content">
      <div class="col-md-12">
        <p>
          <%= @article.body %>
        </p>
      </div>
    </div>

    <hr />

   <%= render "actions" %>

  <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">

        <form class="card comment-form mb-3">
          <div class="card-block">
            <textarea class="form-control" placeholder="Write a comment..." rows="3"></textarea>
          </div>
          <div class="card-footer">
            <img src="https://api.realworld.io/images/smiley-cyrus.jpeg" class="comment-author-img" />
            <button type="submit" class="btn btn-sm btn-primary">
             发表评论
            </button>
          </div>
        </form>

        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a href="profile.html" class="comment-author">
              <img src="https://api.realworld.io/images/demo-avatar.png" class="comment-author-img" />
            </a>
            &nbsp;
            <a href="profile.html" class="comment-author">Jacob Schmidt</a>
            <span class="date-articleed">Dec 29th</span>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <a href="profile.html" class="comment-author">
              <img src="https://api.realworld.io/images/demo-avatar.png" class="comment-author-img" />
            </a>
            &nbsp;
            <a href="profile.html" class="comment-author">Jacob Schmidt</a>
            <span class="date-articleed">Dec 29th</span>
            <span class="mod-options">
              <i class="ion-edit"></i>
              <i class="ion-trash-a"></i>
            </span>
          </div>
        </div>

      </div>

  </div>

  </div>
</div>