<div class="settings-page">
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
            <h1 class="text-xs-center">你的设置</h1>
            <form class="clearfix">
                <fieldset class="form-group mb-3">
                <input class="form-control" type="text" placeholder="个人资料图片的网址">
                </fieldset>
                <fieldset class="form-group mb-3">
                <input class="form-control form-control-lg" type="text" placeholder="你的名字">
                </fieldset>
                <fieldset class="form-group mb-3">
                <textarea class="form-control form-control-lg" rows="8" placeholder="你的个人介绍"></textarea>
                </fieldset>
                <fieldset class="form-group mb-3">
                <input class="form-control form-control-lg" type="text" placeholder="电子邮箱">
                </fieldset>
                <fieldset class="form-group mb-3">
                <input class="form-control form-control-lg" type="password" placeholder="密码">
                </fieldset>
                <button class="btn btn-lg btn-primary float-end" type="submit">
                    更新设置
                </button>
            </form>
            
            <hr>

            <button class="btn btn-outline-danger" type="submit">
                注销
            </button>
        </div>
  
      </div>
    </div>
</div>
