.tag-default {
    color: #fff !important;
    font-size: 0.8rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    white-space: nowrap;
    margin-right: 3px;
    margin-bottom: 0.2rem;
    display: inline-block;
    &:hover {
        text-decoration: none; 
    }
    &.tag-outline {
        border: 1px solid #ddd;
        color: #aaa !important;
        background: none !important; 
    }
}
.tag-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
  

.nav-pills.outline-active {
    .nav-link {
        border-radius: 0px;
        border: none;
        border-bottom: 2px solid transparent;
        background: transparent;
        color: #aaa; 
    }
    .nav-link:hover {
        color: #555; 
    }
    .nav-link.active {
        background: #fff !important;
        border-bottom: 2px solid #FF6600 !important;
        color: #FF6600 !important;
    }
}
  