<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-md-10 col-md-offset-1">
          <img src="https://api.realworld.io/images/demo-avatar.png" class="user-img" />
          <h4>Eric Simons</h4>
          <p>
            Cofounder @GoThinkster, lived in Aol's HQ for a few months, kinda looks like Peeta from the Hunger Games
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn">
            <i class="ion-plus-round"></i>
            &nbsp;
            Follow Eric Simons <span class="counter">(10)</span>
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <div class="article-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="#">我的文章</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">收藏的文章</a>
            </li>
          </ul>
        </div>

        
        <div class="article-preview">
          <div class="article-meta mb-3">
            <a href="profile.html">
              <img src="https://api.realworld.io/images/demo-avatar.png" />
            </a>
            <div class="info">
              <a href="profile.html" class="author">作者名字</a>
              <span class="date">December 9, 2022</span>
            </div>
            <!-- 喜欢按钮，喜欢个数 -->
            <button class="btn btn-outline-primary btn-sm float-end">
              <i class="fa-solid fa-heart"></i> 715
            </button>
          </div>
          <a href="article.html" class="article-link">
            <h1>How to build webapps that scale</h1>
            <p>In my demo, the holy grail layout is nested inside a document, so there's no</p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">
                读书
              </li>
              <li class="tag-default tag-pill tag-outline">
                技术
              </li>
              <li class="tag-default tag-pill tag-outline">
                兴趣
              </li>
            </ul>
          </a>
        </div>

        <div class="article-preview">
          <div class="article-meta mb-3">
            <a href="profile.html">
              <img src="https://api.realworld.io/images/demo-avatar.png" />
            </a>
            <div class="info">
              <a href="profile.html" class="author">作者名字</a>
              <span class="date">December 9, 2022</span>
            </div>
            <!-- 喜欢按钮，喜欢个数 -->
            <button class="btn btn-outline-primary btn-sm float-end">
              <i class="fa-solid fa-heart"></i> 715
            </button>
          </div>
          <a href="article.html" class="article-link">
            <h1>How to build webapps that scale</h1>
            <p>In my demo, the holy grail layout is nested inside a document, so there's no</p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">
                读书
              </li>
              <li class="tag-default tag-pill tag-outline">
                技术
              </li>
              <li class="tag-default tag-pill tag-outline">
                兴趣
              </li>
            </ul>
          </a>
        </div>



        <div class="article-preview">
          <div class="article-meta mb-3">
            <a href="profile.html">
              <img src="https://api.realworld.io/images/demo-avatar.png" />
            </a>
            <div class="info">
              <a href="profile.html" class="author">作者名字</a>
              <span class="date">December 9, 2022</span>
            </div>
            <!-- 喜欢按钮，喜欢个数 -->
            <button class="btn btn-outline-primary btn-sm float-end">
              <i class="fa-solid fa-heart"></i> 715
            </button>
          </div>
          <a href="article.html" class="article-link">
            <h1>How to build webapps that scale</h1>
            <p>In my demo, the holy grail layout is nested inside a document, so there's no</p>
            <span>Read more...</span>
            <ul class="tag-list">
              <li class="tag-default tag-pill tag-outline">
                读书
              </li>
              <li class="tag-default tag-pill tag-outline">
                技术
              </li>
              <li class="tag-default tag-pill tag-outline">
                兴趣
              </li>
            </ul>
          </a>
        </div>


      </div>

    </div>
  </div>

</div>