<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| %>
    <div class="alert alert-dismissible fade show flex items-center 
        justify-content-between
        alert-<%= flash_class(key) %>">
        <div class="alert-message"><%= value %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% end %>
<% end %>