<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
     href="index.html">
     地宫
    </a>

    <!-- 未登录 -->
    <!-- <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div> -->
    <!-- 登录 -->
    
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <a href="#" class="nav-link px-2">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;新建文章
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2">
            <i class="fa-solid fa-gear"></i>&nbsp;设置
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2">
            <i class="fa-solid fa-face-smile"></i>&nbsp;我的名字
          </a>
        </li>
      </ul>


</header>