<nav class="navbar navbar-light navbar-expand-lg bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-2" href="index.html">地宫</a>

    <button
        class="navbar-light navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarsDefault" 
        aria-controls="navbarsDefault" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 未登录 -->
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="login.html">登录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="register.html">注册</a>
        </li>
    </ul>
    <!-- 登录 -->
    <!-- <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="editor.html">
                <i class="ion-compose"></i>&nbsp;新建文章
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="settings.html">设置</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">我的名字</a>
        </li>
    </ul> -->
</nav>
